[Unit]
Description=gunicorn daemon for secure-django
After=network.target

[Service]
User=kali
Group=kali
WorkingDirectory=/home/kali/secure-django
ExecStart=/home/kali/secure-django/venv/bin/gunicorn secure_django.wsgi:application --bind 127.0.0.1:8000

[Install]
WantedBy=multi-user.target